*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
}
html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 70px 1fr 2fr;
    grid-gap: 20px;
    padding: 20px;
    grid-template-areas: "header header header"
                         "aside section section"
                         "footer footer footer";
}
header{
    grid-area: header;
    background-color: brown;
}
aside{
    grid-area: aside;
    background-color: cadetblue;
}
section{
    grid-area: section;     
    background-color: burlywood;
}
footer{
    grid-area: footer;
    background-color: cornflowerblue;
}