*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
}
html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    grid-template-areas: "header header header"
                         "section section section"
                         "div1 div2 div3";
}
header{
    grid-area: header;
    background-color: brown;
}
section{
    grid-area: section;     
    background-color: burlywood;
}
#div1{
    grid-area: div1;
    background-color: cadetblue;
}
#div2{
    grid-area: div2;
    background-color: cadetblue;
}
#div3{
    grid-area: div3;
    background-color: cadetblue;
}