*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
#parent{
    height: 400px;
    width: 100%;
    padding: 10px;
    background-color: #333;
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    overflow: auto;
    /* grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%; */
}
#parent::-webkit-scrollbar{
    background-color: lightskyblue;
}
#parent::-webkit-scrollbar-thumb{
    background-color: royalblue;
}
/* h1{
    /* font-size: 200px; */
    /* background-image: url(https://i.pinimg.com/736x/e5/25/48/e52548a5cd5915eea1de6d2b7942af4e.jpg);
    background-size: cover;
    background-clip: text; */
    /* color: transparent;
    text-align: center;
    -webkit-text-stroke: 3px white; */
    
/* .box:nth-child(2n){
    background-color: blanchedalmond;
} */

.child{
    height: 100%;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    flex-shrink: 0;
}

.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}