@font-face {
  font-family: horror;
  src: url(./Blood\ Victim\ Zombie.ttf);
}
@font-face {
  font-family: sher;
  src: url(./Nightcore\ Demo.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}
#parent{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#child1{
  height: 200px;
  width: 200px;
  background-color: blueviolet;
  border: 2px solid white;
}
#child2{
  height: 200px;
  width: 200px;
  background-color: brown;
  border: 2px solid white;
}
#child3{
  height: 200px;
  width: 200px;
  background-color: burlywood;
  border: 2px solid white;
}
