@font-face {
  font-family: horror;
  src: url(./Blood\ Victim\ Zombie.ttf);
}
@font-face {
  font-family: sher;
  src: url(./Nightcore\ Demo.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}
#parent{
  height: 100%;
  width: 100%;
  background-color: rgb(129, 211, 255);
  padding: 20px;
}
.card{
  height: 300px;
  width: 250px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 10px 25px rgb(0,0,0.22);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.card img{
  padding: 3px;
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.card h2{
  font-weight: 500;
  font-size: 25px;
}
.card p{
  text-align: center;
}
.card button{
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  color: whitesmoke;
  background-color: rgb(0, 140, 255);
}
.card button:hover{
  color: rgb(0, 140, 255);
  background-color: whitesmoke;
}