@font-face {
  font-family: horror;
  src: url(./Blood\ Victim\ Zombie.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

#main{
  height: 100%;
  width: 100%;
  background-image:url(https://plus.unsplash.com/premium_photo-1763482110336-afe8d4ac0bac?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 60px;
}

h1{
  color: white;
  font-size: 80px;
  font-family: horror;
  font-weight: 200;
}
button{
  font-size: 20px;
  padding: 20px 40px;
  color: white;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 25%;
  font-family: horror;
  font-weight: 300;
}