@font-face {
  font-family: horror;
  src: url(./Nightcore\ Demo.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

#box{
  height: 300px;
  width: 300px;
  background-color: salmon;
  margin: 60px;
  padding: 20px;
  border: 5px solid black;
  border-radius: 50%;
}
h1{
  text-align: center;
}

button{
  margin: 100px;
  padding: 15px 30px;
  background-color: aqua;
  border-radius: 50px;
}