@font-face {
  font-family: horror;
  src: url(./Blood\ Victim\ Zombie.ttf);
}
@font-face {
  font-family: sher;
  src: url(./Nightcore\ Demo.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.card{
  height: 300px;
  width: 350px;
  background-color: darkseagreen;
  border-radius: 10px;
  position: relative;
  transition: all ease 1s;
  overflow: hidden;
}

.card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.bottom{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 40%;
  width: 100%;
  background:linear-gradient(transparent, black);
  position: absolute;
  bottom: -40%;

  transition: all ease 0.5s;
}

#main{
  height: 100%;
  width: 100%;
  padding: 25px;
  background-color: lightblue;

}
.card:hover .bottom{
  bottom: 0;
}
.bottom h3{
  color: white;
}
.bottom h3 i:hover{
  color: red;
}