@font-face {
  font-family: horror;
  src: url(./Blood\ Victim\ Zombie.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

/* #box{
  position: relative;
  height: 400px;
  width: 400px;
  background-color:blanchedalmond;
}

#small{
  height: 100px;
  width: 100px;
  background-color:brown;
  position: absolute;
  left: 35%;
  top: 35%;
} */

#homepage{
  width: 100%;
  height: 3000px;
  background-color: burlywood;
}
#side{
 width: 30px;
 height: 100px;
 position: fixed;
 background-color: brown;
 right: 20%;
 bottom: 50%;
}