*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
}
html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns:200px 1fr;
    grid-template-rows: 60px 1fr 80px;

    grid-template-areas: "header header"
               "aside section"
               "footer footer"
               ;
}
/* .child{
    background-color:darksalmon;
    border: 3px solid white;
   
}
#child1{
    grid-column-start: 1;
    grid-column-end: 4;
} */
header{
    grid-area: header;
    background-color: blanchedalmond;
}
aside{
    background-color: cadetblue;
    grid-area: aside;
}
section{
    background-color: cornflowerblue;
    grid-area: section;
}
footer{
    background-color: darksalmon;
    grid-area: footer;
}