@font-face {
  font-family: horror;
  src: url(./Blood\ Victim\ Zombie.ttf);
}
@font-face {
  font-family: sher;
  src: url(./Nightcore\ Demo.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}
#main{
  height: 100%;
  width: 100%;
  background-color: black;    
}
#nav{
  width: 100%;
  height: 60px;
  background-color: rgba(28, 27, 27, 0.911);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
#nav h4{
  color: white;
  font-weight: 400;
}
#center {
  height: 80%;
  width: 100%;
  background-image: url(https://www.apple.com/v/iphone-17-pro/d/images/overview/welcome/hero_endframe__xdzisdq1ppem_xlarge.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 45px;
}
#center h1{
  color: white;
  font-size: 60px;
  font-weight: 600;
}
#center h5{
  color: white;
  font-size: 40px;
  font-weight: 300;
}
#links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

#links button{
  color: white;
  background-color: rgb(42, 99, 244);
  padding: 15px 28px;
  font-size: 18px;
  font-weight: 350;
  border-radius: 50px;
  border: none;
}