*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}

@mixin button-style($color){
  background-color: $color;
  color: white;
  border: none;
  padding: 20px 30px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.blue{
  padding: 10px;
  @include button-style(#007bff);
}
.red{
  padding: 10px;
  @include button-style(#dc3545);
}