*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(244, 244, 244);
}
body{
  background-color: #1d1d1d;
}

@mixin flex-column($gap: 0rem){
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main{
  width: 100%;
  @include flex-column(0rem);

  section{
    width: 100%;
    @include flex-column(2rem);
    padding: 1rem;

    .top{
      width: 100%;

      img{
      width: 100%;
      border-radius: 10px;
    }

    }
    
    .botttom{
      background-color: #292929;
      border-radius: 10px;
      padding: 1rem;
      @include flex-column(1.5rem);

      .text{
       @include flex-column(0.7rem);

        h1{
          font-weight: 200;
          font-size: 2.8rem;
        }

        p{
          font-weight: 300;
          opacity: 0.8;
        }

        button{
          width: fit-content;
        }
      }
    }
  }
}