*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}
html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
button{
  padding: 20px 40px;
  margin: 15px;
  background-color: lightseagreen;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  z-index: 9;
  position: relative;
}
button:active{
  scale: 0.9;
} */
.card{
  height: 300px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 50px 30px;
}
.card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
.card h2{
  text-align: center;
  margin-top: 10px;
}