*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}
html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
/* }
button{
  padding: 20px 40px;
  margin: 15px;
  background-color: lightseagreen;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  z-index: 9;
  position: relative;
}
button:active{
  scale: 0.9;
} */
.card{
  /* height: 300px; */
  width: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 50px 30px;
}
.card p{
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
.card span{
  color: royalblue;
}
.outer{
  height: 15px;
  width: 100%;
  background-color: rgb(197, 197, 197 );
  border-radius: 50px;
}
.inner{
  height: 100%;
  width: 0%;
  background-color: lightcoral;
  border-radius: 50px;
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.bottom h2{
  font-size: 60px;
}
.bottom button{
  padding: 10px 20px;
  background-color: lightseagreen;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.bottom button:active{
  scale: 0.9;
}
.bottom button:hover{
  cursor: pointer;
}