*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
  cursor: none;
 
}
#main{
  height: 100%;
  width: 100%;
  background-color: #172227;
}

#cursor{
  height: 20px;
  transform: translate(-50%,-50%);
  position: fixed;
}