* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.box {
  height: 200px;
  width: 200px;
  transition: all 0.5s linear;

}

.red {
  background-color: red;

}

.green {
  background-color: green;

}

.blue {
  background-color: blue;
}

.box:hover {
  transform: scale(1.2) !important;

}

body:has(.box:hover) .box {
  transform: scale(0.8);

}