*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}
.elem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:30px;
  background-color: #333;
  border-radius: 10px;
  margin-top: 10px;
}
button{
  padding: 10px 20px;
  background-color: royalblue;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}