*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  padding: 20px 40px;
  margin: 15px;
  background-color: lightseagreen;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  z-index: 9;
  position: relative;
}
button:active{
  scale: 0.9;
}